<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inviqa_Demo>
            <version>0.1.0</version>
        </Inviqa_Demo>
    </modules>
    <global>
        <models>
            <inviqa_demo>
                <class>Inviqa_Demo_Model</class>
            </inviqa_demo>
        </models>
    </global>
    <frontend>
        <routers>
            <demo>
                <use>standard</use>
                <args>
                    <module>Inviqa_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
    </frontend>
</config>